<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson03.dao.RealEstateMapper">
 	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE `id` = #{id}
 	</select>
 	
 	<select id="selectRealEstateByRentPriceList" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE <!-- `rentPrice` &lt; #{rentPrice} -->
			 <![CDATA[
			 `rentPrice` < #{rentPrice}
			 ]]>
 	</select>
 	
 	<select id="selectRealEstatesByAreaPriceList" parameterType="int" resultType="com.quiz.lesson03.domain.RealEstate">
 		SELECT
 			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		FROM
			`real_estate`
		WHERE <!-- `area` &gt; #{area} and `price` &lt; #{price} -->
			<![CDATA[
			 `area` > #{area}
			 `price` < `price`
			 ]]>
 	</select>
 	
 	<insert id="insertRealEstate" parameterType="com.quiz.lesson03.domain.RealEstate">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		)
		values
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
 	</insert>
 	
 	<insert id="insertRealEstateAsField" parameterType="map">
 		INSERT INTO `real_estate`
 		(
 			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		)
		values
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
 	</insert>
 	
 	<update id="updateRealEstateById" parameterType="map">
 	UPDATE `real_estate`
 	SET
 		`type` = #{type}
 		, `price` = #{price}
 		, `updatedAt` = NOW()
 	WHERE
 		`id` = #{id}
 	</update>
 	
 	<delete id="deleteRealEstateById" parameterType="int">
 	DELETE
 	FROM
 		`real_estate`
 	WHERE
 		`id` = #{id}
 	</delete>
 </mapper>